.card {
  display: flex;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.25);
  cursor: pointer;

  .img {
    flex-shrink: 0;
    width: 136px;
    height: 136px;
    border-radius: 8px;
    float: left;
    overflow: hidden;
    object-fit: contain;
    border-radius: 8px;
  }

  .right-block {
    padding-left: 16px;
  }

  .card-title {
    text-align: left;
    vertical-align: top;
    font-size: 24px;
    color: #002d6e;
    font-weight: normal;
    font-family: Inter, sans-serif;
    margin-bottom: 10px;
  }

  .description {
    align-items: center;
    text-align: left;
    font-size: 14px;
    color: #002d6e;
    font-weight: lighter;
    font-family: Inter, sans-serif;
    white-space: pre-line;
  }

  .persons {
    display: flex;
    margin-top: 15px;
  }

  .total {
    margin-left: 5px;
    color: #002d6e;
    font-size: 14px;
  }
}
